<div class="row">
    <h1 class="ms-4 mt-5 mb-3 h1-top-header">CCT Lab Process</h1>
</div>



<accordion>
  <!-- panel 1 -->
  <accordion-group>
    <button
      class="btn btn-link btn-block acc-head-font align-items-center d-flex w-100  shadow-lg" id="acc-head-font"
      accordion-heading type="button">
      <span class="badge badge-secondary float-left pull-left ms-1">
        <div class="num-card">
          <h1 class="num-card-number">1</h1>
        </div>
      </span>
      <div class="acc-head-font ms-4 my-4" id="acc-head-font">Build test task</div>
      
    </button>
    <div class="mb-3">
      
    </div>
    <div class="row d-flex acc-item">
      <div class="col-1 text-end">
       <h3><i class="bi bi-check2-circle  main-color"></i></h3>   
      </div>
      <div class="col-11">
          <p class="roboto-font">Create repository</p>
      </div>
    </div>
    <div class="row d-flex acc-item">
      <div class="col-1 text-end">
       <h3><i class="bi bi-check2-circle  main-color"></i></h3>   
      </div>
      <div class="col-11">
          <p class="roboto-font">Implement designs</p>
      </div>
    </div>
    <div class="row d-flex acc-item">
      <div class="col-1 text-end">
       <h3><i class="bi bi-check2-circle  main-color"></i></h3>   
      </div>
      <div class="col-11">
          <p class="roboto-font">Implement functionality</p>
      </div>
    </div>
  </accordion-group>
  
  <!-- panel 2 -->
  <accordion-group>
    <button
      class="btn btn-link btn-block acc-head-font align-items-center d-flex w-100  shadow-lg" id="acc-head-font"
      accordion-heading type="button">
      <span class="badge badge-secondary float-left pull-left ms-1">
        <div class="num-card">
          <h1 class="num-card-number">2</h1>
        </div>
      </span>
      <div class="acc-head-font ms-4 my-4" id="acc-head-font">Submit your test task</div>      
    </button>
    <div class="mb-3">
      
    </div>
    <div class="row d-flex acc-item">
      <div class="col-1 text-end">
       <h3><i class="bi bi-check2-circle  main-color"></i></h3>   
      </div>
      <div class="col-11">
          <p class="roboto-font">Open email client</p>
      </div>
    </div>
    <div class="row d-flex acc-item">
      <div class="col-1 text-end">
       <h3><i class="bi bi-check2-circle  main-color"></i></h3>   
      </div>
      <div class="col-11">
          <p class="roboto-font">
            Sent link with information to 
            <span >
              <a href="mailto:careers@cornercasetech.com"style="color:#00ADAA; text-decoration:none;" >
                careers@cornercasetech.com
              </a>              
            </span> 
          </p>
      </div>
    </div>
    
  </accordion-group>

  <!-- panel 3 -->
  <accordion-group>
    <button
      class="btn btn-link btn-block acc-head-font align-items-center d-flex w-100  shadow-lg" id="acc-head-font"
      accordion-heading type="button">
      <span class="badge badge-secondary float-left pull-left ms-1">
        <div class="num-card">
          <h1 class="num-card-number">3</h1>
        </div>
      </span>
      <div class="acc-head-font ms-4 my-4" id="acc-head-font">Participate in tech interview</div>      
    </button>
    <div class="mb-3">
      
    </div>
    <div class="row d-flex acc-item">
      <div class="col-1 text-end">
       <h3><i class="bi bi-check2-circle  main-color"></i></h3>   
      </div>
      <div class="col-11">
          <p class="roboto-font">Talk with HR</p>
      </div>
    </div>
    <div class="row d-flex acc-item">
      <div class="col-1 text-end">
       <h3><i class="bi bi-check2-circle  main-color"></i></h3>   
      </div>
      <div class="col-11">
          <p class="roboto-font">Talk with Tech team</p>
      </div>
    </div>
    
  </accordion-group>

  <!-- panel 4 -->
  <accordion-group>
    <button
      class="btn btn-link btn-block acc-head-font align-items-center d-flex w-100  shadow-lg" id="acc-head-font"
      accordion-heading type="button">
      <span class="badge badge-secondary float-left pull-left ms-1">
        <div class="num-card">
          <h1 class="num-card-number">4</h1>
        </div>
      </span>
      <div class="acc-head-font ms-4 my-4" id="acc-head-font">Receive answer</div>      
    </button>
    <div class="mb-3">
      
    </div>
    <div class="row d-flex acc-item">
      <div class="col-1 text-end">
       <h3><i class="bi bi-check2-circle  main-color"></i></h3>   
      </div>
      <div class="col-11">
          <p class="roboto-font">Receive answers</p>
      </div>
    </div>
    <div class="row d-flex acc-item">
      <div class="col-1 text-end">
       <h3><i class="bi bi-check2-circle  main-color"></i></h3>   
      </div>
      <div class="col-11">
          <p class="roboto-font">Start your IT career</p>
      </div>
    </div>
    
  </accordion-group>

</accordion>