/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';


@import '~bootstrap-icons/font/bootstrap-icons.css';

$main-color: #00ADAA;
$Font-manrope: 'Manrope', sans-serif;

body {
    font-family: $Font-manrope;
}

.container {
    max-width: 1200px;
}

.main-color {
    color: $main-color;
}

.h1-top-header {
    font-family: $Font-manrope;
    font-size: 64px;
}




